# Terraform working directory
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Sensitive variable files
*.tfvars
*.tfvars.json

# Crash log files
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc


# Custom: Ignore SSH private keys
*.pem
id_rsa*

# Custom: Ignore archive files (if using lambda/zip functions)
*.zip

.DS_Store